<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "#" %>
	</div>

	<div id="content">
		<h1>Hi this is all about me.</h1>
		<p>Welcome to my blog</p>
		<p>It is all about my adventuring in developing</p>
	</div>
</div>